<div id="mainPage">
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="activeSauce"><a href="#/main">Main Page <span class="sr-only">(current)</span></a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="filterPins">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/profile">Profile</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	<div class="container-fluid">
		<div class="row">
		<!-- the div below will repeat -->
			<div ng-repeat="tag in matchedArray | filter: filterPins" class="col-md-3">
          <div class="post-holder">
            <button ng-click="showModal(tag)" class="btn pinIt">Pin it</button>
            <button ng-click="likeAPost(tag)" class="btn likeIt">Like it</button>
  					<img ng-click="showSinglePostModal(tag)" class="pinPic" src="{{tag.picture}}"/>
  					<p>{{tag.title}}</p>
        </div>
			</div>
		</div>
</div>

<!-- board Modal -->
<div id="boardPicker" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="sidePic modalInfo">
          <!-- save variable for image link in scope? -->
          <img class="addBoardImage" src="{{currentImage}}"/>
        </div>
        <div class="sideBoards modalInfo">
          <input type="text" class="form-control" placeholder="Search" />
          <!-- ng-repeat -->
          <div ng-repeat="item in boards" class="board-div">{{item.$id}} <button ng-click="showAddToBoard(item)" class="btn pinToBoard">Pin It</button></div>
          <div id="create_board" class="board-div">Create board <button ng-click="addBoard()" class="btn create_a_board">+</button></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- single post Modal -->
<div id="singlePostModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
       <button class="btn pinIt" ng-click="showModalFromSingle()">pin it</button>
       <button class="btn pinIt" ng-click="likeModalFromSingle()">Like it</button>
     </div>
      <div class="modal-body">
          <a href="{{singlePost.pinUrl}}" target="_blank"> <img class="singlePostPic" src="{{singlePost.picture}}"/></a>
          <p>{{singlePost.title}}<p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- board Modal -->
<div id="boardModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      
     </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <input id="addBoard" type="text" class="form-control" placeholder="title"/>
        <button ng-click="addBoardToUser()" type="button" class="btn btn-default" data-dismiss="modal">Create</button>
      </div>
    </div>

  </div>
</div>
</div>